/* DISPLAY */
.each_item {
    background: #FFF;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    border-radius: 4px;
    margin: 25px 0px;
    display: flex;
    padding: 20px;
}

.each_item .each_item_right {
    flex: 1;
    padding: 10px 20px;
}

.each_item .each_item_right .each_item_right_name {
    font-weight: bold;
    font-size: 20px;
    color: #444;
}

.each_item .each_item_right .each_item_right_quantity {
    color: #666;
}

.each_item .edit_button {
    padding: 0px 5px;
}

/* COLLECTION APPLICATION */
.collection_each {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.collection_each:nth-child(even) {background: #f8f8f8;}
.collection_each:nth-child(odd) {background: #f1f1f1;}

.collection_each.title {
    background: #39F;
    font-weight: bold;
    color: white;
}

.collection_each:not(.title):hover {
    background: #E9E9E9;
}


.collection_each .collection_each_name {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.collection_each .collection_each_quantity {
    flex: 1;
    padding: 10px;
    text-align: center;
}